.jumbotron {
    color: #900C3F;
}

#button {
    background-color:#900C3F;
    color: white;
    /* text-color: white; */
}

.panel-body {
    border-color: #900C3F;
    border-radius: 10%;
}

.row.display-flex {
    display: flex;
    flex-wrap: wrap;
  }
  .row.display-flex > [class*='col-'] {
    display: flex;
    flex-direction: column;
  }
